/* @font-face {
  font-family: "body";
  src: url("/public/fonts/Starjedi.ttf") format("truetype");
} */

body {
  background-image: url("https://i.pinimg.com/originals/da/58/27/da582791457dc1929269b9b2fd301eaa.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Russo One";
}

#logo {
  width: 700px;
  height: auto;
}

.subtitle {
  color: #ffe81f;
  text-shadow: 6px 2px 1px rgb(0, 0, 0);
  font-size: 3.5em;
}

.git-img {
  max-height: 25px;
  max-width: 25px;
}

.navbar-brand {
  color: #ffe81f;
  text-decoration: none;
}

a:hover {
  color: #e2cf21d3;
}

/* h5 {
  font-weight: bold;
} */

.cards {
  box-shadow: 5px -2px 16px 1px #000;
  background-color: #08070794;
  border-color: #ffe81f;
  backdrop-filter: blur(10px);
  color: #ffe81f;
}

.modal-content {
  box-shadow: 5px -2px 16px 1px #000;
  background-color: #08070757;
  backdrop-filter: blur(10px);
  border-color: #ffe81f;
  /* font-weight: 400; */
  color: #ffe81f;
  /* text-shadow: 2px 2px 1px rgb(0, 0, 0); */
}

/* h4 {
  font-weight: 700;
} */

.modal-title {
  font-weight: 900;
}

.modal-header {
  background-color: #ffe81f;
  color: #000;
  border-bottom: black;
}

.modal-footer {
  border-top: black;
}

.modal-img {
  border-color: #000;
  border-radius: 0.25rem;
  box-shadow: 5px -2px 16px 1px #000;
}

.btn-warning {
  background-color: #ffe81f;
  border-color: #000000;
  box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.btn-warning:hover {
  box-shadow: 1px 1px 1px #ffe81f;
  border-color: #ffe81f;
  background-color: black;
  color: #ffe81f;
}

.favorite-btn {
  border: none;
  background: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #970d1b;
  font-size: 1.5rem;
  cursor: pointer;
}

.favorite-btn:hover {
  color: #ff6b81;
}

h1.favorites-title {
  color: #ffe81f;
  text-shadow: 8px 5px 4px rgb(0, 0, 0);
  font-size: 70px;
}

svg.git-icon {
  color: #ffe81f;
}

.footer-bar {
  padding-top: 5%;
}
